<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-sm">
      <div class="card-body">
        <h2 class="text-center mb-4">Edit Expense</h2>

        <!-- Transaction Type -->
        <div class="mb-3">
          <label class="form-label"> Transaction Type </label>

          <select class="form-select" [(ngModel)]="type">
            <option value="Expense">Expense</option>

            <option value="Income">Income</option>
          </select>
        </div>

        <div class="mb-3">
          <label class="form-label"> Expense Title </label>

          <input type="text" class="form-control" [(ngModel)]="title" />
        </div>

        <!-- // Amount -->
        <div class="mb-3">
          <label class="form-label"> Amount </label>

          <div class="input-group">
            <span class="input-group-text"> $ </span>

            <input type="number" class="form-control" [(ngModel)]="amount" />
          </div>
        </div>

        <!-- // Category -->
        <div class="mb-4">
          <label class="form-label"> Category </label>

          <select class="form-select" [(ngModel)]="category">
            @for (category of expenseService.categories(); track category) {
              <option [value]="category">
                {{ category }}
              </option>
            }
          </select>
        </div>

        <!-- Date -->
        <div class="mb-3">
          <label class="form-label"> Date </label>

          <input type="date" class="form-control" [(ngModel)]="date" />
        </div>

        <!-- Notes -->
        <div class="mb-4">
          <label class="form-label"> Notes </label>

          <textarea class="form-control" rows="3" [(ngModel)]="notes"> </textarea>
        </div>

        <div class="d-grid">
          <button class="btn btn-warning" (click)="updateExpense()">Update Expense</button>
        </div>
      </div>
    </div>
  </div>
</div>
