<div class="container mt-5" style="max-width: 500px">
  <div class="card shadow-sm">
    <div class="card-body">
      <h2 class="text-center mb-4">Register</h2>

      <div class="mb-3">
        <label class="form-label"> Email </label>

        <input
          type="email"
          class="form-control"
          [ngModel]="email()"
          (ngModelChange)="email.set($event)"
        />
      </div>

      <div class="mb-4">
        <label class="form-label"> Password </label>

        <input
          type="password"
          class="form-control"
          [ngModel]="password()"
          (ngModelChange)="password.set($event)"
        />
      </div>

      <button class="btn btn-dark w-100" (click)="register()">Create Account</button>
    </div>
  </div>
</div>
