mat-toolbar {
  background-color: #212529 !important;

  color: white;

  padding: 0 24px;
}

mat-toolbar button {
  color: white !important;

  font-weight: 500;
}

mat-toolbar span {
  font-size: 1.2rem;

  font-weight: bold;
}

.logo-box {
  border: 1px solid white;

  padding: 2px 12px;

  border-radius: 3px;

  line-height: 1.3;

  font-weight: 500;

  font-size: 0.85rem;

  display: flex;

  flex-direction: column;

  justify-content: center;

  align-self: flex-left;
}

.logo-subtitle {
  font-size: 0.65rem;

  font-weight: 400;

  letter-spacing: 0.5px;

  align-self: flex-end;
}
